@import 'tailwindcss';
@import 'tw-animate-css';

@custom-variant dark (&:is(.dark *));

:root {
  --radius: 0.5rem;

  --hue: 270;
  --accent-hue: 37;
  --error-hue: 340;

  --background: hsl(var(--hue), 10%, 95%); /* body */
  --foreground: hsl(var(--hue), 10%, 10%); /* main text */

  --inversed-background: hsl(var(--hue), 10%, 10%); /* main text */
  --inversed-foreground: hsl(var(--hue), 10%, 98%); /* body */

  --accent: hsl(var(--accent-hue), 55%, 65%);

  --btn-foreground: hsl(var(--hue), 10%, 100%);
  --btn-background: hsl(var(--accent-hue), 85%, 40%);
  --btn-foreground-hover: hsl(0, 0%, 0%);
  --btn-background-hover: hsl(var(--accent-hue), 85%, 55%);

  --btn-secondary-foreground: hsl(var(--hue), 10%, 50%);
  --btn-secondary-background: hsl(var(--hue), 10%, 95%);
  --btn-secondary-foreground-hover: hsl(var(--hue), 20%, 5%);
  --btn-secondary-background-hover: hsl(var(--accent-hue), 55%, 70%);

  --btn-accent-foreground: hsl(0, 0%, 100%);
  --btn-accent-background: hsl(var(--accent-hue), 50%, 65%);
  --btn-accent-foreground-hover: hsl(0, 0%, 100%);
  --btn-accent-background-hover: hsl(var(--accent-hue), 55%, 70%);

  --input: white;
  --input-border: white;
  --input-autofill: white;

  --card: white;

  --popover: hsl(var(--hue), 10%, 100%); /* dropdown menu */
  --popover-foreground: hsl(var(--hue), 10%, 45%);
  --popover-focus: hsl(var(--hue), 10%, 95%);

  --error: hsl(var(--error-hue), 85%, 50%);

  --area: hsl(var(--hue), 10%, 95%); /* auth, sidebar */
  --muted: hsl(var(--hue), 3%, 60%);
  --border: hsl(var(--hue), 10%, 90%);
  --icon: hsl(var(--accent-hue), 65%, 60%);
  --ring: hsl(var(--hue), 10%, 15%);
  --scroll: hsl(var(--hue), 10%, 85%);
}

.dark {
  /* --background: hsl(var(--hue), 3%, 15%); */
  --background: hsl(var(--hue), 3%, 22%); /* body */
  --foreground: hsl(var(--hue), 20%, 95%);

  --inversed-background: hsl(var(--hue), 20%, 95%);
  --inversed-foreground: hsl(var(--hue), 20%, 5%);

  --accent: hsl(var(--accent-hue), 50%, 85%);

  --btn-foreground: hsl(var(--hue), 20%, 100%);
  --btn-background: hsl(var(--accent-hue), 85%, 30%);
  --btn-foreground-hover: hsl(0, 0%, 0%);
  --btn-background-hover: hsl(var(--accent-hue), 85%, 45%);

  --btn-secondary-foreground: hsl(var(--hue), 20%, 60%);
  --btn-secondary-background: hsl(var(--hue), 20%, 10%);
  --btn-secondary-foreground-hover: hsl(var(--hue), 20%, 5%);
  --btn-secondary-background-hover: hsl(var(--accent-hue), 75%, 85%);

  --btn-accent-foreground: hsl(var(--hue), 20%, 5%);
  --btn-accent-background: var(--accent);
  --btn-accent-foreground-hover: hsl(var(--hue), 20%, 5%);
  --btn-accent-background-hover: hsl(var(--accent-hue), 75%, 85%);

  --input: hsl(var(--hue), 3%, 28%);
  --input-border: hsl(var(--hue), 3%, 28%);
  --input-autofill: hsl(var(--hue), 3%, 28%);

  --card: hsl(var(--hue), 3%, 25%);

  --popover-focus: hsl(var(--hue), 3%, 30%);
  --popover-foreground: hsl(var(--hue), 3%, 55%);

  --error: hsl(var(--error-hue), 85%, 60%);

  --area: hsl(var(--hue), 3%, 20%);
  --muted: hsl(var(--hue), 3%, 55%);
  --border: hsl(var(--hue), 3%, 30%);
  --icon: hsl(var(--accent-hue), 55%, 85%);
  --ring: hsl(var(--hue), 3%, 30%);
  --scroll: hsl(var(--hue), 3%, 30%);
}

@theme inline {
  --font-sans: var(--font-mulish-sans);
  --font-pt: var(--font-pt-serif);

  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --color-inversed-background: var(--inversed-background);
  --color-inversed-foreground: var(--inversed-foreground);

  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);

  --color-btn-foreground: var(--btn-foreground);
  --color-btn-foreground-hover: var(--btn-foreground-hover);
  --color-btn-background: var(--btn-background);
  --color-btn-background-hover: var(--btn-background-hover);

  --color-btn-secondary-foreground: var(--btn-secondary-foreground);
  --color-btn-secondary-foreground-hover: var(--btn-secondary-foreground-hover);
  --color-btn-secondary-background: var(--btn-secondary-background);
  --color-btn-secondary-background-hover: var(--btn-secondary-background-hover);

  --color-btn-accent-foreground: var(--btn-accent-foreground);
  --color-btn-accent-foreground-hover: var(--btn-accent-foreground-hover);
  --color-btn-accent-background: var(--btn-accent-background);
  --color-btn-accent-background-hover: var(--btn-accent-background-hover);

  --color-input: var(--input);
  --color-input-border: var(--input-border);
  --color-input-autofill: var(--input-autofill);

  --color-card: var(--card);

  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover-focus: var(--popover-focus);

  --color-error: var(--error);

  --color-area: var(--area);
  --color-muted: var(--muted);
  --color-border: var(--border);
  --color-icon: var(--icon);
  --color-ring: var(--ring);
  --color-scroll: var(--scroll);

  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
}

@layer base {
  * {
    @apply border-border outline-none;
  }

  html,
  body {
    @apply h-full font-sans text-foreground bg-background transition-colors duration-300;
  }

  .flex-center {
    @apply flex items-center justify-center;
  }

  h1,
  h2,
  h3 {
    @apply tracking-tight scroll-m-20 cursor-default;
  }

  h1 {
    @apply font-semibold text-4xl lg:text-5xl text-foreground/90;
  }

  h2,
  h3 {
    @apply font-bold first:mt-0;
  }

  h2 {
    @apply text-3xl;
  }

  h3 {
    @apply text-xl;
  }

  p {
    @apply leading-6 [&:not(:first-child)]:mt-4;
  }

  a {
    @apply font-medium;
  }

  .link {
    @apply underline underline-offset-4;
  }

  button:focus-visible {
    outline: none;
  }

  ::selection {
    @apply bg-accent text-black;
  }
}

@layer layout {
  :root {
    /* --sidebar-w: 56px; */
    --gap: 16px;
    --gap-1-4: 4px;
    --gap-1-2: 8px;
    --gap-3-4: 12px;
  }

  .layout {
    @apply relative flex h-full;
  }

  /* main {
    @apply flex flex-1;
  } */

  .sidebar {
    width: 0;
  }

  .column-stack {
    display: flex;
    flex-direction: column;
    gap: var(--gap);
  }

  .main-menu--fixed {
    @apply fixed top-7 left-4 z-10;
  }

  @media only screen and (max-height: 767px) {
    .main-menu--fixed {
      @apply top-5;
    }
  }
}

@layer components {
  input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 100px var(--input-autofill) inset !important;
    -webkit-text-fill-color: var(--foreground) !important;
  }

  /* Animations */

  .fade {
    animation: fade 0.25s ease-out;
  }

  .fade--delayed {
    animation: fade 0.25s ease-out;
    animation-delay: 1000;
  }

  .flip-x {
    transform: scaleX(-1);
  }

  /* Custom transitions */

  .trans-a {
    @apply transition-all duration-300;
  }

  .trans-c {
    @apply transition-colors duration-300;
  }

  .trans-o {
    @apply transition-opacity duration-300;
  }

  .card {
    @apply rounded-xl bg-card shadow-sm transition-colors duration-300;
  }

  .space {
    flex-grow: 1;
  }

  .clickable {
    @apply cursor-pointer;
  }

  .inactive {
    @apply !pointer-events-none !text-muted;
  }

  .inactive button {
    @apply opacity-5;
  }

  .form-loading {
    transition: opacity 0.2s ease;
  }

  .icon,
  .icon--action {
    @apply text-icon;
  }

  .icon--menu {
    @apply text-icon;
  }

  .icon--action {
    @apply cursor-pointer opacity-70 hover:opacity-100 transition-opacity;
  }

  .loading {
    animation: fade 1s ease both;
  }

  /* Auth form */

  .auth-form {
    @apply relative w-75 flex flex-col gap-4 transition-opacity;
  }

  .inactive {
    @apply opacity-40 pointer-events-none;
  }

  .auth-form_button {
    @apply w-full mt-1;
  }

  .auth-form_link {
    @apply mt-4 text-center text-sm text-muted hover:text-accent transition-colors;
  }

  .form-control-with-icon input {
    @apply pr-9!;
  }

  /* Quotes */

  .quote-form {
    @apply relative w-full mx-auto max-w-150 flex flex-col gap-4 transition-opacity;
  }

  .quote-form_button {
    @apply w-full sm:w-56 mt-1 mx-auto;
  }

  .quote-item {
    @apply relative w-full max-w-[550px] flex flex-col p-4 text-sm font-semibold rounded-xl bg-card cursor-default shadow-xs;
  }

  .quote-item_toolbar {
    @apply opacity-0 h-8 z-10 absolute top-2.5 right-2 bg-card rounded-xl;
  }

  .quote-item:hover .quote-item_toolbar,
  .quote-item_toolbar[data-touch-device='true'] {
    @apply opacity-100;
  }
}

@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
